---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        
      <h2>Hello there! </h2>
      <p>Hi, I'm Daphne and this is my personal website. I am an academic with wide ranging interests. On this website you can find information on my work, my interests, and everything I concern myself with. </p>


      <h3>How did I get here?</h3>

      <p>During my studies I have continuously been focusing on complementing my education in the field of Computer Science and Engineering with aspects from the social sciences. I have studied courses in Psychology, Sociology, Brain Physiology, Consumer Behaviour, Human Factors and many others.</p>

      <p>For my MSc thesis, I again combined several fields and researched the usability of Databases for novice users. I found that there is much to gain from research in this area, as it was found that writing queries is very difficult for these users. </p>

      <p>In December of 2019, I started my PhD at the Database Research Group of Eindhoven University of Technology. My goal is to explore various aspects of this aforementioned difficulty. I hope to examine various query languages and their common misconceptions, in order to develop support systems for novice users. Later research will focus on uncovered misconceptions, for example in complex concepts such as joins, negation and recursive queries.</p>

      Photo by Patrick Tomasso on Unsplash

        <!-- Home Post List -->
        <!-- {% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
        </article>

        <hr>

        {% endfor %} -->

        <!-- Pager -->
        <!-- <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div> -->

      </div>
    </div>
  </div>
