---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <!-- <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %} -->
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        
      <h2>Hello there! </h2>
      <p>Hi, I'm Daphne. I am an assistant professor in the <a href="https://indelab.org" target="_blank">INDElab</a> at the University of Amsterdam, on the topic of Human-Data Interaction.</p>

      <h3>How did I get here?</h3>

      <p>During both my Bachelor and Master degree I have continuously been trying to complement my education in the field of Computer Science and Engineering with aspects from the social sciences. I took courses in Psychology, Sociology, Brain Physiology, Consumer Behaviour, Human Factors and many others. For my graduation, I worked on bringing humans and databases closer together through some small studies.</p>

      <p>The work was very interesting to me and so in December of 2019, I started my PhD at the Database Research Group of Eindhoven University of Technology. I made my research goal a bit more specific, and focused on SQL education for students. In my dissertation I laid foundations for understanding misconceptions for SQL, and developed several interventions that help students perform better.</p>

      <p>I'm now moving back to the more generalized area of Human-Data Interaction. Although I'll be continuing my work on SQL, I'm also excited to study a broader database context. </p>

        <!-- Home Post List -->
        <!-- {% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
        </article>

        <hr>

        {% endfor %} -->

        <!-- Pager -->
        <!-- <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div> -->

      </div>
    </div>
  </div>
